<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js"
        integrity="sha512-6ts6Fu561/yzWvD6uwQp3XVYwiWNpWnZ0hdeQrETqtnQiGjTfOS06W76aUDnq51hl1SxXtJaqy7IsZ3oP/uZEg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Floc.c</title>
</head>

<body>


    <section class="main-code-editor">

        <form action="/compiler" onsubmit="onCodeSubmit();" method="post">

            <div class="tabs">
                    <a class="tabs-group" href="/">
                        <h1>
                            floc.c
                        </h1>
                    <i class="fa-solid fa-arrow-left"></i>
                    </a>
                <select name="language" class="round" id="lang-selector" onchange="langChange(this)">
                    <option value="cpp">C++</option>
                    <option value="c">C</option>
                    <option value="py">Python</option>
                    <option value="go">Go Lang</option>
                    <option value="f90">Fortran</option>
                </select>
                <div class="run-button-block">
                    <h3>
                        RUN : 
                    </h3>
                    <button class="run-button" type="submit" name="submit_code"><i class="fa-solid fa-play"></i></button>
                </div>
            </div>

            

            <div class="code-panel">
                <div class="input-container">
                    <div id="editor"></div>
                    <textarea name="code_ide" id="editor-textarea"></textarea>
                </div>
                <div id="output-container">
                    <div id="output-display">
                        <%- output.replace(/\n/g, '<br>') %>
                    </div>
                </div>
            </div>




        </form>

    </section>
    
    
    


    <footer>
        
        <!-- Footer Body -->
        <div class="footer-middle">
            <!-- Left -->
            <div class="footer-body-left">
                <h3>
                    Map
                </h3>
                <div class="maps">
                    <a href="#">Home</a>
                    <a href="#about-us">About</a>
                    <a href="https://t.me/ukernaa" target="_blank">Join our Discord</a>
                </div>
            </div>

            <!-- Center -->
            <div class="footer-body-center">
                <h3>
                    Social Links
                </h3>
                <div class="links">
                    <div class="links-top">
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-medium"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-reddit"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Right -->
            <div class="footer-body-right">
                <h3>
                    Contact Us
                </h3>
                <form action="https://docs.google.com/forms/u/8/d/e/1FAIpQLSd05xtQ45U1izNwVt7GDCXcqh9gx07yykNjYIOXRbEuo6kpnQ/formResponse" method="post" target="_blank">
                    <input type="text" class="footer-input" name="entry.498685830" placeholder="Your Name" required>
                    <input type="email" class="footer-input" name="entry.2139897630" placeholder="Your Email" required>
                    <textarea class="footer-input" name="entry.1548803137" cols="40" rows="5" placeholder="Reason" required></textarea>
                    <button class="footer-btn" type="submit" target="_blank">Submit</button>
                </form>
            </div>


        </div>

        <!-- Footer Bottom -->
        <div class="foot-bottom">
            &#169; Semicolon Stardust;
        </div>
</footer>


    <!-- ICON PACKAGES -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <!-- ACE EDITOR -->
    <!-- <script src="/static/ace-editor/src-noconflict/ace.js"></script>
    <script src="/static/src-min/mode-c_cpp.js"></script> -->
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/dracula");
        editor.session.setUseWrapMode(true);
        editor.session.setMode("ace/mode/c_cpp");
        </script>
        <script>
                let toggleInput = document.getElementById("#toggleInput");
                let userInput = document.getElementById("#user-Input");
                let heading = document.getElementById("#heading");

                function showHideInputBox()
                {
                    if(toggleInput.checked == true )
                    {
                        heading.style.display="block";
                        userInput.style.display="block";
                    } 
                    else
                    {
                        heading.style.display="none";
                        userInput.style.display="none";

                    }
                }
        </script>
    
    <!-- RUN -->
    <script src="/static/js/ide-setup.js"></script>



</body>

</html>