
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Welcome to floc.c</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <h1>
                <a href="/">
                    floc.c
                </a>
            </h1>
        </div>
        <div class="nav-right">
            <div class="nav-tabs">
                <ul>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/compiler" target="_blank">
                            Go to Compiler
                        </a>
                    </li>
                    <li>
                        <a href="#about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Semicolon-Stardust" target="_blank">
                            Our GitHub Org
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="hero"></div>

    <section class="hero-section">
        <span class="hero-heading-text">
            <h1>
                Smooth, <br>
                Succint <br>
                and stylish <br>
                Compiler <br>
            </h1>
        </span>
        <img class="hero-bg" src="/static/images/hero-img.svg" alt="" srcset="">
        <div class="hero-box">
            <nav class="hero-nav">
                <ul>
                    <li>
                        <img class="icons" src="/static/images/minimize.svg" alt="">
                    </li>
                    <li>
                        <img class="icons" src="/static/images/switch.svg" alt="">
                    </li>
                    <li>
                        <img class="icons" src="/static/images/cross.svg" alt="">
                    </li>
                </ul>
            </nav>
            <div class="video">
                <img class="gif" src="/static/images/hero-demo.gif" alt="">
            </div>
        </div>

    </section>
    <img  class="hero-bottom" src="/static/images/hero-bottom.svg" alt="" srcset="">


<div id="services" class="section-div"></div>


<section class="services">
    <h1>
        Start Your Journey With Us 
    </h1>
    <div class="container">
        <a href="/compiler" target="_blank">
            <div class="pixel2">
                Get Started
            </div>
        </a>
    </div>
</section>

<div id="services" class="section-div"></div>

<section class="features">
    <h1>What is <span> Floc.c </span> ?</h1>
    <p>In the literal sense, floc.c is a rather peculiar name for a compiler but floc.c is derived from the word flock which means to collect or to compile. Smooth, succinct and stylish are three words enough to describe floc.c, an online compiler designed as a part of Tech-a-thon 3.0. floc.c is an online compiler which is equal in terms of style AND substance. It’s designed to compile codes from languages like Python, C, C++, GoLang and even FORTRAN. </p>
    <div class="feature-block">
        <h1>Why should you use <span> Floc.c </span> ?</h1>
        <div class="top">
            <div class="card">
                <h3>
                    Say bye bye to losing data
                </h3>
                <p>
                    With data being automatically saved to local storage at a generous frequency, say bye bye to losing the work of your sweat and blood, or coffee I guess.
                </p>
            </div>
            <div class="card">
                <h3>
                    From GoLang to FORTRAN
                </h3>
                <p>
                    floc.c features 5 of the most popular (and obscure) programming languages in our assortment of compiled languages with them being: C, C++, Python, GoLang and even FORTRAN Yep you heard it. Time for a FORTRAN renaissance?
                </p>
            </div>
            <div class="card">
                <h3>
                    Compiling reimagined
                </h3>
                <p>
                    floc.c was built from scratch in under 72 hours with the coordinated efforts of our 4 member team amassing <x number> of commits by our team on GitHub in such a short span of time.
                </p>
            </div>
        </div>
        <div class="middle">
            <div class="card">
                <h3>
                    Smooth, succinct, stylish, superfluous, scintillating, salient, sensational, stelar.. 
                </h3>
                <p>
                    No these adjectives are neither lies nor excuses for us to put in more adjectives that start with S. floc.c boasts a focused yet flamboyant user interface which separates from the crowd.
                </p>
            </div>
            <div class="card">
                <h3>
                    Secure
                </h3>
                <p>
                    Another plus point with an S at the start, floc.c is hosted with an SSL certificate (switching the outdated HTTP for HTTPS) making it extra secure.
                </p>
            </div>
        </div>
        <div class="bottom">
            <div class="card">
                <h3>
                    No credit card, No signup, no BS
                </h3>
                <p>
                    Programmers have a lot to do and going through sign up prompts is not one of them. Hence, any account creation is optional
                </p>
            </div>
            <div class="card">
                <h3>
                    Not just a bland compiler
                </h3>
                <p>
                    floc.c features a beautiful IDE with dynamic syntax highlighting to complement the powerful compiler
                </p>
            </div>
        </div>
    </div>
</section>

<!-- <div id="faq" class="section-div"></div>

<section id="faq">
    
        <h1>
            Frequently Asked Questions (FAQs)
        </h1>
        
        <div class="faq-accordion">
            
            <div class="faq-item">
                <div class="faq-item-header">
                    What is it?
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>
            
            <div class="faq-item">
                <div class="faq-item-header">
                    Why is it?
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>
            
            <div class="faq-item">
                <div class="faq-item-header">
                    How was it made
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>
            
            <div class="faq-item">
                <div class="faq-item-header">
                    What does it really do?
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>
            
            <div class="faq-item">
                <div class="faq-item-header">
                    What can do you think it'll do in the future?
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>
            
        </div>
    </section> -->
    
    <div id="about-us"></div>
    
    <!-- ------------------------------------ Service ------------------------------------ -->
    
    <section>
        <div class="about">
            <div class="about-us-left">
                <h1>
                    Meet our Team
                </h1>
                <p>
                    Semicolon Stardust is a team of programmers studying in their second year of B.Tech. CSE at Amity University Greater Noida.
                </p>
            </div>
            <div class="about-us-right">
                    <div class="team-card">
                        <div class="about-social">
                            <a href="https://www.linkedin.com/in/muteen-nabi-kundangar-79a27a187/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <div class="about-info"> 
                            <span class="about-name">Muteen Nabi Kundangar</span>
                            <span class="about-designation">Development(Web)</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="about-social">
                            <a href="https://www.linkedin.com/in/vehehgito/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <div class="about-info">
                            <span class="about-name">Aryan Gulati</span>
                            <span class="about-designation">UI/UX Designer</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="about-social">
                            <a href="https://www.linkedin.com/in/harsh-kumar-727028246/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <div class="about-info">
                            <span class="about-name">Harsh Kumar</span>
                            <span class="about-designation">Entry</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <div class="about-social">
                            <a href="https://www.linkedin.com/in/neelanjan-mukherji/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <div class="about-info">
                            <span class="about-name">Neelanjan Mukherji</span>
                            <span class="about-designation">Development(Web)</span>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    
    
    
    <!-- ------------------------------------ Footer ------------------------------------ -->
    
    <footer>
        
                <!-- Footer Body -->
                <div class="footer-middle">
                    <!-- Left -->
                    <div class="footer-body-left">
                        <h3>
                            Map
                        </h3>
                        <div class="maps">
                            <a href="#">Home</a>
                            <a href="#about-us">About</a>
                            <a href="https://t.me/ukernaa" target="_blank">Join our Discord</a>
                        </div>
                    </div>
        
                    <!-- Center -->
                    <div class="footer-body-center">
                        <h3>
                            Social Links
                        </h3>
                        <div class="links">
                            <div class="links-top">
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-medium"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-reddit"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
        
                    <!-- Right -->
                    <div class="footer-body-right">
                        <h3>
                            Contact Us
                        </h3>
                        <form action="https://docs.google.com/forms/u/8/d/e/1FAIpQLSd05xtQ45U1izNwVt7GDCXcqh9gx07yykNjYIOXRbEuo6kpnQ/formResponse" method="post" target="_blank">
                            <input type="text" class="footer-input" name="entry.498685830" placeholder="Your Name" required>
                            <input type="email" class="footer-input" name="entry.2139897630" placeholder="Your Email" required>
                            <textarea class="footer-input" name="entry.1548803137" cols="40" rows="5" placeholder="Reason" required></textarea>
                            <button class="footer-btn" type="submit" target="_blank">Submit</button>
                        </form>
                    </div>
        
        
                </div>
        
                <!-- Footer Bottom -->
                <div class="foot-bottom">
                    &#169; Semicolon Stardust;
                </div>
    </footer>
    <script>
        // Accordion

        const faqItemHeaders = document.querySelectorAll(".faq-item-header")

        faqItemHeaders.forEach(faqItemHeaders =>{
            faqItemHeaders.addEventListener("click", event =>{
                faqItemHeaders.classList.toggle("active")
                const faqItemBody = faqItemHeaders.nextElementSibling
                if(faqItemHeaders.classList.contains('active'))
                {
                    faqItemBody.style.maxHeight = faqItemBody.scrollHeight + "px"
                }
                else
                {
                    faqItemBody.style.maxHeight = 0
                }
            })
})

    </script>
</body>
</html>
