@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



*
{
    margin: 0;
    top: 0;
    user-select: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*----------------------------------------------- Variables ----------------------------------------------------- */

/* :root
{

} */

/* Utilities */


.section-div
{
    height: 20px;
}

ul
{
    list-style: none;
}

a
{
    color: black;
    text-decoration: none;
}

body
{
    background: #002744;
    font-family: 'Raleway', sans-serif;
}

.footer-btn
{
    background: #fff;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    border: solid 1px #000;
    transition: all 0.3s;
}

.footer-btn:hover
{
    border-radius: 12px;
    font-weight: 700;
    color: #fff;
    background: #000;
    border: solid 1px #fff;
}

.pixel, .pixel2 {
    font-size: 25px;
    color: #000;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pixel:active, .pixel2:active {
    top: 2px;
}

.pixel {
    line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
    background: #000000;
    background:
        linear-gradient(135deg, transparent 10px, #000000 0) top left,
        linear-gradient(225deg, transparent 10px, #000000 0) top right,
        linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
        linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image:
        radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
        radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
        radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
        radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
}

.pixel2 a {
    position: relative;
    display: block;
    margin: 10px;
    font-family: 'VT323';
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    color: #002744;
}

.pixel2::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: #FFF8B9;
    z-index: -1;
}

.pixel2::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: #FFF8B9;
    z-index: -1;
}

.pixel2 {
    padding: 10px 10px;
    position: relative;
    background: #FFF8B9;
    width: auto;
    z-index: 2;
}

.run-button-block
{
    color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
}
.run-button-block h3
{
    padding-right: 13px;
}

.run-button
{
    padding-top: 35px;
    border: none;
    background: none;
    color: #5cdb95;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 3px 10px;
}

.run-button:hover
{
    background: #5cdb95;
    color: #fff;
}
.run-button:active
{
    background: #515151;
    color: #5cdb95;
}

/*----------------------------------------------- Landing Page -----------------------------------------------*/



.nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 50px;
    background: linear-gradient(to right, #94D2FF , #FF7BE2);
    color: white;
    z-index: 130;
    transition: all 0.3s;

}

.nav:hover
{
    filter: drop-shadow(0.1px 0.1px 70px black);
}

.nav-left
{
    padding-left: 30px;
}


.nav-left h1 a, .nav-right ul a
{
    color: white;
}

.nav-left h1 a
{
    
    font-size: 1.8rem;
    font-family: 'Space Mono', san-serif;
}

.nav-right ul
{
    display: flex;
    gap: 25px;
    padding-right: 13px;
    font-family: 'Space Mono', san-serif;
}

.nav-right ul a:hover
{
    color: #000000;
}


/* ------------------------ Services ------------------------ */

.services
{
    width: 95%;
    margin: 20px auto;
    background: #94D2FF;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
}

.services h1
{
    padding-left: 50px;
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
}

.container {
    /* margin: 50px; */
    display: block;
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

.container a
{
    color: #000;
}


/* ------------------------ features ------------------------ */

.features
{
    width: 100%;

}

.features h1
{
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
}

.features h1 span
{
    font-family: 'Space Mono', sans-serif;
    font-style: italic;
}

.features p
{
    margin: 35px;
    text-align: center;
    color: #fff;

}

.feature-block
{
    padding-top: 40px;
    background: #00a6ff;
}

.feature-block .top,
.feature-block .middle,
.feature-block .bottom
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
}
.feature-block .top
{
    padding-top: 45px;
    gap: 45px;
}

.feature-block .middle
{
    gap: 23px;
}
.feature-block .bottom
{
    gap: 23px;
}


.features .card
{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    border: #000 1px solid;
}


.card h3
{
    color: #fff;
    text-align: center;
}

.card p
{
    /* display: none; */
    margin: 10px 40px;
    font-size: 0.9rem;
}


/* ------------------------ FAQ ------------------------ */

.faq
{
    width: 90%;
    max-width: 1000px;
    margin: 2em auto;
}

#faq h1 
{
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
}


.faq-item {
    margin: 1rem 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    width: 60%;
    margin: 24px auto;
    background: white;
    padding: 7px 10px;
    color: black;
}

.faq-item-header
{
    font-size: 1.5rem;
    padding: 15px 3rem;
    min-height: 3.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.faq-item-header::after
{
    content: '\002B';
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: all 0.2s ease-in-out;
}

.faq-item-header.active::after
{
    transform: rotate(45deg);
    color: #FF6EDF;
}

.faq-item-header.active
{
    transition: all 0.1s ease-in-out;
    color: #002744;
}

.faq-item-header:hover{
    outline: none;
    user-select: none;
    cursor: pointer;
}

.faq-item-body
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq-item-body-content
{
    border-top: 2px solid #94D2FF;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.faq-item-body-content ul
{
    list-style-type: disc;
    padding-left: 23px;
}


/* ------------------------ About Us ------------------------ */

#about-us
{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about
{
    color: #ffffff;
    background:#3B5998;
    display: flex;
    gap: 30px;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    height: 300px;
    width: 95%;
    border-radius: 15px;
}

.about-us-left
{
    width: 25%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.about-us-left h1
{
    text-align: center;
}

.about-us-left p
{
    text-align: justify;
    padding-left: 30px;
}

.about-us-right
{
    width: 75%;
    height: 100%;
    border-left: solid 2px #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about-social a
{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}
.about-social a:hover
{
    opacity: 0.7;
}

.team-card
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-info
{
    display: flex;
    flex-direction: column;
}

.about-designation
{
    color:  #ffabed;
    font-weight: 500;
}

.about-name
{
    font-weight: 700;
}


/* ------------------------ Hero-Section ------------------------ */

.hero-section
{
    padding-top: 68px;
    background: #FFF8B9;
    width: 100%;
    display: flex;
    height: 300px;
    box-shadow: 3px 3px 1px #FFF8B9;
}

.hero-heading-text
{
    padding-bottom: 15px;
    z-index: 15;
    width: 55em;
}

.hero-section h1
{
    font-family: 'Space Mono', san-serif;
    font-weight: 300;
    padding-left: 80px;
    font-size: 2.3rem;
}

.hero-bg
{
    margin-left: 15em;
}

.hero-box
{
    border: 2px solid #000;
    position: relative;
    top: 70px;
    left: -120px;
    width: 1250px;
    height: 250px;
    background: #ffffff;
    
}

.hero-nav
{
    width: 100%;
    height: 30px;
    border-bottom: 1.8px solid #000;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 3px;
    background: linear-gradient(to right, #FF6EDF , #FFEB37);
}
.hero-nav ul
{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.hero-nav ul .icons
{
    width: 23px;
}

.hero-box .gif
{
    padding-top: 10px;
    width: 466px;
}



/* ------------------------ Footer ------------------------ */


/* Base */
footer
{
    /* width: 100%; */
    background: linear-gradient(to right, #94D2FF, #FF6EDF);
    color: #000000;
    border-radius: 50px 50px 0px 0px;
    padding: 20px 3em;
    margin-top: 8em;
    font-family: 'Raleway', sans-serif;
    border-top: #000 1px solid;
}


/* Top of Footer */
.footer-top img
{
    padding-top: 12px;
    width: 240px;
}

.footer-top
{
    padding: 20px 20px;

}


/* Body of Footer */
.footer-middle
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}


.footer-middle h3
{
    text-align: center;
    padding-bottom: 13px;
}



/* Common */
.footer-middle .footer-body-left a, 
.footer-middle .footer-body-center a,
.footer-middle .footer-body-right a
{
    padding-top: 7px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.footer-middle .footer-body-left a:hover, 
.footer-middle .footer-body-right a:hover
{
    color: #fff;
    text-decoration: #000 underline;
}




/* Left */
.footer-body-left
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
}

.footer-body-left .maps{
    display: flex;
    flex-direction: column;
}

.footer-body-left .maps a{
    color: #000;
    margin: 10px;
}


/* Center */
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links .fa-brands
{
    padding: 15px;
    transition: all 0.3s;
}
.links .fa-brands:hover
{
    border-radius: 15px;
}

.fa-youtube
{
    background: #bb0000;
}

.fa-instagram
{
    background: #125688;
}

.fa-reddit
{
    background: #ff5700;
}

.fa-facebook
{
    background: #3B5998;
}

.fa-medium
{
    background: #000000;
}

.fa-github
{
    background: #0d1117;
}

.fa-youtube:hover, .fa-instagram:hover, .fa-facebook:hover
{
    opacity: 0.7;
    color: #ffffff;
}

.fa-medium:hover, .fa-github:hover
{
    color: #000000;
    background: #ffffff;
}

.footer-middle .footer-body-center .links a{
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    text-align: center;
}


/* Right */
.footer-body-right{
    width: 30%;
}

.footer-body-right form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.footer-body-right form input, .footer-body-right form textarea {
	padding: 12px;
	border: none;
	border-radius: 8px;
	margin: 10px 0px;
	resize: none;
	width: 100%;
}

.footer-body-right form button{
    display: block;
    width: 30%;
}



.footer-contact form
{
    width: 500px;
    padding-right: 20px;
    display: flex;
    gap: 13px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-contact form .footer-input
{
    width: 100%;
    padding: 9px 10px;
    border: none;
    border-radius: 4px;
    margin: 10px 0px 15px 0px;
    font-family: 'Raleway', sans-serif;
}

.footer-input
{
    font-family: 'Raleway', sans-serif;
}
.footer-input:focus
{
    outline: none;
    font-style: italic;
}


textarea
{
    font-family: 'Raleway', sans-serif;
    outline: none;
    resize: none;
}
textarea:focus
{
    font-style: italic;
}




.footer-body-left, .footer-body-center, .footer-body-right{
    margin: 20px 3em;
}




/* Bottom of Footer */
.foot-bottom
{
    width: 100%;
    display: flex;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #94D2FF, #FF6EDF);
    padding: 15px;
}


/*----------------------------------------------- Navbar Styling --------------------------------------------- */

.container_11a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 70px;
    background:  #05509c;
    box-shadow: 10px 0 0 #5cdb95;
    border-left: 10px solid #05509c;
    overflow-x: hidden;
    transition: width 0.5s;
}

.container_11a:hover{
    width: 300px;
}
.container_11a ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.container_11a ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container_11a ul li.active{
    background: #5cdb95;
}

.container_11a ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}
.container_11a ul li.container_11d a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #05509c;
    border-radius: 50%;
    box-shadow: 15px 15px 0  #5cdb95;
    
}
.container_11a ul li.container_11d a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #05509c;
    border-radius: 50%;
    box-shadow: 15px -15px  0  #5cdb95;
}

.container_11a ul li a .icon-11{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    
}
.container_11a ul li a .icon-11 ion-icon{
    position: relative;
    padding-top: 16px;
    font-size: 1.5em;
    z-index: 1;
}
.container_11a ul li a  .container_11c{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    
}

/*----------------------------------------------- Main Content Styling --------------------------------------------- */

.tabs {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	background-color: #202020;
	padding: 10px;
}

.tabs .fa-arrow-left
{
    color: #fff;
    font-size: 2rem;
    padding: 8px;
    border-radius: 50%;
}

.tabs .fa-arrow-left:hover
{
    background: #515151;
}
.tabs .fa-arrow-left:active
{
    background: #fff;
    color: #00a6ff;
}

.tabs-group
{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
a h1
{
    font-size: 2.5rem;
    color: #fff;
}
a h1:hover
{
    color: #FF6EDF;
}

select.round {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    background: #515151;
    color: #fff;
    border: #fff 1px solid;
    border-radius: 5px;
    width: 150px;
    height: 30px;

}

select.round:focus {
    border-color: #FFEB37;
    outline: none;
}

.code-panel{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#editor
{
    box-shadow: 1.5px 1.5px 3px grey;
    width: 50vw;
    max-width: 50vw;
    min-width: 50vw;
    height: 100%;
    font-size: 20px;
    overflow-y: none;
}

#editor-textarea{
    position: absolute;
    top: -3000px;
    left: -3000px;
}


.input-container{
    height: 70vh;
    border: 1px solid #fff;
}


.user-input-textarea
{
    width: 600px;
    height: 40px;
    background: #002744;
    overflow:scroll;
    padding: 10px;
    line-height: 1.7;
    resize: none;
    font-family: 'Space Mono', san-serif;
    margin-bottom: 13px;
}

.user-input-textarea:focus
{
    outline: none;
}


#output-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output-container #output-display {
	width: 49.7vw;
	height: 70vh;
	color: rgb(255, 255, 255);
	background: #002744;
    border: 1px solid #fff;
	overflow: scroll;
    font-family: 'JetBrains Mono', san-serif;
	padding: 10px 15px;
}



.contain
{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-code-editor form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading
{
    display: none;
}

#user-input
{
    width: 600px;
    height: 100px;
    resize: none;
    border: 2px solid #193239;
    border-radius: 5px;
    color: aliceblue;
    background: #042d3c;
    overflow:scroll;
    padding: 4px;
    line-height: 1.7;
    margin-bottom: 15px;
    display: none;
}

.user-input:focus
{
    outline: none;
    font-style: italic;
}

/* 
.toggle
{
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
}

#toggleInput
{
    display: none;
}

#toggleFill
{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}

#toggleInput:checked ~ #toggleFill
{
    background: #5cdb95;
}


#toggleFill::after
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height:var(--height);
    width:var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

#toggleInput:checked ~ #toggleFill::after
{
    transform: translateX(var(--height));
    background: #193239;
} */





/* ACE EDITOR */

.ace_layer {
    /* display: none; */
	z-index: 1;
	position: absolute;
	overflow: hidden;
	word-wrap: normal;
	white-space: pre;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	pointer-events: none;
}